/* Styles pour la boîte modale */
.modal {
    display: none; /* Masquer la modal par défaut */
    position: fixed; /* Position fixe pour superposer au-dessus de la page */
    top: 50%; /* Déplacer la modal à 50% du haut de la fenêtre */
    left: 50%; /* Déplacer la modal à 50% de la largeur de la fenêtre */
    transform: translate(-50%, -50%); /* Centrer la modal verticalement et horizontalement */
    z-index: 9999; /* Assurez-vous que la modal est au-dessus du reste du contenu */
    width: 80%; /* Largeur de la modal (ajustable selon vos besoins) */
    max-width: 500px; /* Largeur maximale de la modal */
    background-color: white; /* Couleur de fond de la modal */
    padding: 20px; /* Espacement interne de la modal */
    border-radius: 8px; /* Coins arrondis de la modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre de la modal */
}


.hidden {
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* couleur de fond */
    padding: 10px; /* espace intérieur */
    text-align: center; /* alignement du texte */
}
